# `Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?`

## Ans:- `MongoDB is an open source NoSQL database management program. NoSQL (Not only SQL)`
    
## `MongoDB, the most popular NoSQL database, is an open-source document-oriented database. The term ‘NoSQL’ means ‘non-relational’. It means that MongoDB isn’t based on the table-like relational database structure`






## `Non-relational databases, also known as NoSQL databases, deviate from the structured nature of traditional relational databases. They are characterized by their ability to store and retrieve data without relying on the rigid schema used by SQL databases. Instead, NoSQL databases offer more flexibility and scalability, making them particularly useful for scenarios where data is constantly changing or where a high volume of data needs to be processed rapidly.`



-----------------------------------------------------------------------------------------------------------




## `Semi-Structured and Unstructured Data:- When dealing with data that doesn't fit neatly into tabular formats, such as documents with varying fields or nested structures, MongoDB's document-based approach is more suitable than the rigid tables of SQL databases.`


## `If your application deals with location-based data or requires geospatial indexing and querying, MongoDB's built-in geospatial features make it a natural fit.`



## `When dealing with data that has complex, nested, or hierarchical relationships, MongoDB's document-oriented nature can simplify data representation and querying.`



## `Caching and Content Management: MongoDB can be useful for caching and content management systems where quick read and write operations are essential.`





## `Scalability and High Volume: If your application is expected to handle large amounts of data and high levels of traffic, MongoDB's ability to distribute data across clusters and its horizontal scaling capabilities make it a better choice for accommodating growth.`

# `Q2. State and Explain the features of MongoDB.

## `It is a schema-less NoSQL database. You need not to design the schema of the database when you are working with MongoDB.`





## `It provides high performance, availability, scalability.`



## `Document Oriented: In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.`

## `It also supports multiple document ACID transition(string from MongoDB 4.0).`


## `High Performance: The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.`



## `It is easily integrated with Big Data Hadoop`




## `It is a document oriented database and the data is stored in BSON documents.`

# `Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.`

In [1]:
import pymongo

In [2]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://pwskills:pwskills@cluster0.lg8hea6.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
client

MongoClient(host=['ac-a2o7hmd-shard-00-01.lg8hea6.mongodb.net:27017', 'ac-a2o7hmd-shard-00-00.lg8hea6.mongodb.net:27017', 'ac-a2o7hmd-shard-00-02.lg8hea6.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-vt1ey7-shard-0', tls=True)

In [4]:
pwskills =client['pwskills']

In [5]:
data = {"course": "Data Science",
         "data": "may 2023",
          "module_covered":"Machine learning"}

In [6]:
coll3_pwskills = pwskills["my_data"]

In [7]:
coll3_pwskills .insert_one(data)

In [8]:
# creating a dictionary
data2 = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London"
}

In [9]:
coll3_pwskills .insert_one(data2)

In [10]:
data3 ={ "Bihar": "Golghar",
         "Bihar": "Rajgir",
          "Delhi": "India Gate",
          "West Bengal":"Howrah Bridge"}

In [11]:
data3

{'Bihar': 'Rajgir', 'Delhi': 'India Gate', 'West Bengal': 'Howrah Bridge'}

In [12]:
coll3_pwskills.insert_one(data3)

Q4. Using the database and the collection created in question number 3,
write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [13]:
data4 = {"mail_id": "sam@gamil.com",
         "phone_number": 984385385,
         "addr": "Delhi"}

In [14]:
coll3_pwskills.insert_one(data4)

In [48]:
 data5 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [16]:
coll3_pwskills.insert_many(data5)

In [17]:
coll3_pwskills.find()

In [18]:
coll3_pwskills.find_one()

{'_id': ObjectId('64de4db9ca6e260c8ec1e751'),
 'course': 'Data Science',
 'data': 'may 2023',
 'module_covered': 'Machine learning'}

## `Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this`

In [19]:
for i in coll3_pwskills.find():
    print(i)

{'_id': ObjectId('64de4db9ca6e260c8ec1e751'), 'course': 'Data Science', 'data': 'may 2023', 'module_covered': 'Machine learning'}
{'_id': ObjectId('64de4dbbca6e260c8ec1e752'), 'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London'}
{'_id': ObjectId('64de4dbfca6e260c8ec1e753'), 'Bihar': 'Rajgir', 'Delhi': 'India Gate', 'West Bengal': 'Howrah Bridge'}
{'_id': ObjectId('64de4dc0ca6e260c8ec1e754'), 'mail_id': 'sam@gamil.com', 'phone_number': 984385385, 'addr': 'Delhi'}
{'_id': ObjectId('64de4dc0ca6e260c8ec1e75a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64de4dc0ca6e260c8ec1e760'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64de4dc0ca6e260c8ec1e759'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64de4dc0ca6e260c8ec1e758'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64de4dc0ca6e260c8ec1e75d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64de4dc0ca6e260c8ec1e755'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64de4dc0ca6e260c8ec1e757'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64de4dc0ca6e260c8ec1e75c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64de4dc0ca6e260c8ec1e756'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64de4dc0ca6e260c8ec1e75e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64de4dc0ca6e260c8ec1e75b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64de4dc0ca6e260c8ec1e75f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64df77aca77ed10ae8aff46c'), 'course': 'Data Science', 'data': 'may 2023', 'module_covered': 'Machine learning'}
{'_id': ObjectId('64df77ada77ed10ae8aff46d'), 'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London'}
{'_id': ObjectId('64df77ada77ed10ae8aff46e'), 'Bihar': 'Rajgir', 'Delhi': 'India Gate', 'West Bengal': 'Howrah Bridge'}
{'_id': ObjectId('64df77aea77ed10ae8aff46f'), 'mail_id': 'sam@gamil.com', 'phone_number': 984385385, 'addr': 'Delhi'}
{'_id': ObjectId('64df77aea77ed10ae8aff470'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64df77aea77ed10ae8aff471'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64df77aea77ed10ae8aff472'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64df77aea77ed10ae8aff473'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64df77aea77ed10ae8aff474'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64df77aea77ed10ae8aff475'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64df77aea77ed10ae8aff476'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64df77aea77ed10ae8aff477'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64df77aea77ed10ae8aff478'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64df77aea77ed10ae8aff479'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64df77aea77ed10ae8aff47a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64df77aea77ed10ae8aff47b'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [20]:
for i in coll3_pwskills.find({'Bihar':'Rajgir'}):
    print(i)

{'_id': ObjectId('64de4dbfca6e260c8ec1e753'), 'Bihar': 'Rajgir', 'Delhi': 'India Gate', 'West Bengal': 'Howrah Bridge'}
{'_id': ObjectId('64df77ada77ed10ae8aff46e'), 'Bihar': 'Rajgir', 'Delhi': 'India Gate', 'West Bengal': 'Howrah Bridge'}

# `Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.`

In [67]:
sorted_data = sorted(data5, key=lambda x: x['name'])

In [68]:
sorted_data

[{'name': 'Amy', 'address': 'Apple st 652'},
 {'name': 'Ben', 'address': 'Park Lane 38'},
 {'name': 'Betty', 'address': 'Green Grass 1'},
 {'name': 'Chuck', 'address': 'Main Road 989'},
 {'name': 'Hannah', 'address': 'Mountain 21'},
 {'name': 'Michael', 'address': 'Valley 345'},
 {'name': 'Richard', 'address': 'Sky st 331'},
 {'name': 'Sandy', 'address': 'Ocean blvd 2'},
 {'name': 'Susan', 'address': 'One way 98'},
 {'name': 'Vicky', 'address': 'Yellow Garden 2'},
 {'name': 'Viola', 'address': 'Sideway 1633'},
 {'name': 'William', 'address': 'Central st 954'}]

In [70]:
sorted_data_descending = sorted(data5, key=lambda x: x['name'], reverse=True)

In [71]:
sorted_data_descending

[{'name': 'William', 'address': 'Central st 954'},
 {'name': 'Viola', 'address': 'Sideway 1633'},
 {'name': 'Vicky', 'address': 'Yellow Garden 2'},
 {'name': 'Susan', 'address': 'One way 98'},
 {'name': 'Sandy', 'address': 'Ocean blvd 2'},
 {'name': 'Richard', 'address': 'Sky st 331'},
 {'name': 'Michael', 'address': 'Valley 345'},
 {'name': 'Hannah', 'address': 'Mountain 21'},
 {'name': 'Chuck', 'address': 'Main Road 989'},
 {'name': 'Betty', 'address': 'Green Grass 1'},
 {'name': 'Ben', 'address': 'Park Lane 38'},
 {'name': 'Amy', 'address': 'Apple st 652'}]

# `Q7. Explain why delete_one(), delete_many(), and drop() is used.`

`The delete_one() method is used to delete a single document that matches a specified filter from a collection. It removes the first document that meets the criteria and stops processing further.`

`The delete_many() method is used to delete multiple documents that match a specified filter from a collection. It removes all documents that meet the criteria.`

`drop() Method:
The drop() method is used to completely remove a collection from the database. This action is irreversible, and all documents within the collection will be permanently deleted. Use this method with caution.`